  <TMPL_IF NAME="usar_link_pagina_principal">
  <DIV ALIGN="center">
   <A HREF="<TMPL_VAR NAME="link_pagina_principal">">
    <FONT FACE="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" SIZE="3">
     <b>
      Volver a la p&aacute;gina principal
     </b>
    </FONT>
   </A>
  </DIV>
  </TMPL_IF>

 </BODY>
</HTML>
