  <FORM ACTION="index.html" METHOD="POST">
   <CENTER>

    <table>

     <tr height="20" cntrlrow>
      <td height="20">
       &nbsp;
      </td>
     </tr>

     <tr height="20" cntrlrow>
      <td height="20" align="middle" content valign="middle" nowrap>
       <b>
        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="white">
         <input type="text" name="usuario" size="16"> 
        </font>
       </b>
      </td>
     </tr>

     <tr height="20" cntrlrow>
      <td height="20" align="middle" content valign="middle" nowrap>
       <b>
        <!--
        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="white" size="2">
	-->
         Nombre de Usuario
        <!--
        </font>
	-->
       </b>
      </td>
     </tr>

     <tr height="20" cntrlrow>
      <td height="20">
       &nbsp;
      </td>
     </tr>

     <tr height="20" cntrlrow>
      <td height="20" align="middle" content valign="middle" nowrap>
       <b>
        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="white">
         <input type="password" name="password" size="16"> 
        </font>
       </b>
      </td>
     </tr>

     <tr height="20" cntrlrow>
      <td height="20" align="middle" content valign="middle" nowrap>
       <b>
        <!--
        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="white" size="2">
	-->
         Contrase&ntilde;a
        <!--
        </font>
	-->
       </b>
      </td>
     </tr>

     <tr height="20" cntrlrow>
      <td height="20">
       &nbsp;
      </td>
     </tr>

     <tr height="20" cntrlrow>
      <td width="146" height="20" nowrap align="middle" valign="middle">
       <input type="submit" value="    Aceptar    ">
      </td>
     </tr>

    </table>

   </CENTER>
  </FORM>
