  <form name="preferences.html" method="post">

   <table>

    <tr valign="center">
     <td align="left" valign="center" colspan="3">
      <font face="Arial, Helvetica, Geneva, Swiss, SunSans-Regular" size="2" color=black>
       &nbsp; <b> Graph saved correctly !!</b>
      </font>
     </td>
    </tr>

    <tr valign="center" height="10">
     <td align="left" valign="center" colspan="3">
      <font face="Arial, Helvetica, Geneva, Swiss, SunSans-Regular" size="2" color=black>
       &nbsp;
      </font>
     </td>
    </tr>

    <tr valign="center">
     <td align="center" valign="center" colspan="3">
      <font face="Arial, Helvetica, Geneva, Swiss, SunSans-Regular" size="1" color=black>
       <input type="button" value="Back to GDS-820" onClick="window.location.href='index.html'">
      </font>
     </td>
    </tr>

   </table>
  </form>

  <BR>
